@media (max-width: 767px) {
    .footer-subscription-box {
      margin: 0 auto; 
      text-align: center;
      width: 90%; 
      margin-bottom: 2rem;
    }

  
  }
  .border-custom-top::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px; /* Adjust the height of the border as needed */
    width: 100%;
    background: linear-gradient(to right, #2282db 25%, #808080 10% 100%);
  }
 



  